/* pagination */
.input-group {
    padding: 15px;
}

.content {
    margin-left: 200px;
    margin-top: 70px;
    padding: 20px;
}

.mlogo {
    width: 45px;
}

.mbrand-name {
    margin-top: 20px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 20px;
}

.msidebar-item {
    padding: 5px;
    /* border-bottom: 1px solid #ddd; */
}

.msidebar-item:hover {
    background-color: #e9ebe4;
}

.mpage-name {
    margin: 8px;
    font-weight: bold;
    font-size: 20px;
}

.user-info {
    margin-right: 10px;
}

.username {
    font-weight: bold;
    font-size: 14px;
}

.user-info p {
    font-style: italic;
    font-size: 14px;
}

/* pagination */
#pagination {
    margin: 0;
    padding: 0;
    text-align: center;
}

#pagination li {
    display: inline;
}

#pagination li a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    color: #000;
}

#pagination li a {
    border-radius: 5px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

#pagination li a.active {
    background-color: #abc8c0;
    color: #fff;
}

#pagination li a:hover:not(.active) {
    background-color: #ddd;
}

.b-pagination-outer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    display: flex;
}

#border-pagination {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#border-pagination li {
    display: inline;
}

#border-pagination li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    border: 1px solid #ddd;
    float: left;
}

#border-pagination li a {
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

#border-pagination li a.active {
    background-color: #4caf50;
    color: #fff;
}

#border-pagination li a:hover:not(.active) {
    background: #ddd;
}

.breadcrumb-item a {
    color: #000;
    /* text-decoration: none; */
}

.part-title {
    font-weight: 600;
    font-size: 15px;
}

/* side bar */
.d-flex.flex-row {
    display: flex;
    flex-direction: row;
}

.sidebar-wrap {
    width: 60px;
    height: auto;
    min-height: 100vh;
    background-color: #f6f9ed;
    color: #fff;
    padding: 10px;
    transition: width 0.8s;
    /* flex-shrink: 0; */
}

.sidebar-wrap:hover {
    width: 200px;
}

.sidebar-wrap:hover .logo-wrap span,
.sidebar-wrap:hover .nav li .nav-link span,
.sidebar-wrap:hover .dropdown-wrap strong,
.sidebar-wrap:hover .dropdown-wrap::after {
    display: flex;
}

.main-content {
    flex-grow: 1;
    background-color: #f8f9fa;
}

.navbar {
    width: 100%;
    background-color: #fff;
    color: black;
    padding: 10px 20px;
}

/* logo  */
.sidebar-wrap .logo-wrap {
    color: #000;
    font-size: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-wrap .logo-wrap span {
    color: #fff;
}

.sidebar-wrap .logo-wrap span :hover {
    color: #000;
}

.sidebar-wrap .logo-wrap span {
    font-size: 18px;
}

.sidebar-wrap .logo-wrap .icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 40px;
}

.sidebar-wrap .nav {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    flex-wrap: nowrap;
}

.sidebar-wrap .nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #f5f5f5;
}

.sidebar-wrap .nav::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.sidebar-wrap .nav::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #9b9b9b;
}

.sidebar-wrap .nav li {
    margin-top: 5px;
}

/* //icon color */
.sidebar-wrap .nav li .nav-link {
    color: #280004;
    padding: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.sidebar-wrap .nav li .nav-link .icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 40px;
}

.sidebar-wrap .nav li .nav-link span {
    font-size: 16px;
}

.sidebar-wrap .nav li .nav-link:hover {
    background-color: #9b9b9b;
}

.sidebar-wrap .dropdown-wrap {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 15px;
    font-size: 16px;
}

.sidebar-wrap .dropdown-wrap .icon-wrap {
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    margin-bottom: 10px;
}

/*.mlogo {
    width: 35px;
}*/


/*my button*/
.button-2 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-2:hover,
.button-2:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-2:hover {
    transform: translateY(-1px);
}

.button-2:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}


/*card*/
.my-card {
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  margin-bottom: 20px;
  
}

.my-card-title {
  font-weight: bold;
  font-size: 20px;
}
