
body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

hr {
    margin-top: -3px;
    margin-bottom: 10px;
}

.card {
    background-color: #eef1df;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.logo {
    width: 50px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.moption {
    display: flex;
    justify-content: space-between;
}

.mbrand-name {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.mwrong-password {
    margin-top: -10px;
    font-style: italic;
    font-weight: bold;
    font-size: smaller;
    color: #F4796B;
    margin-left: 19%;
}

.mwrong-re-password {
    font-style: italic;
    font-weight: bold;
    font-size: smaller;
    color: #F4796B;
    margin-left: 19%;
}

.mnoti {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}

#mtitle1 {
    margin-left: 10px;
    font-weight: bolder;
    font-size: 17px;
}

#mtitle2 {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: light;
    font-size: 17px;
}

.mtip {
    font-style: italic;
    font-weight: 500;
    font-size: smaller;
    color: #5E503F;
    margin-left: 25%;
}

input {
    width: 81% !important;
}

label {
    font-size: smaller;
    padding-top: 10px;
}

/*button2*/
.button-2 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
        Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-2:hover,
.button-2:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-2:hover {
    transform: translateY(-1px);
}

.button-2:active {
    background-color: #f0f0f1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}